/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
  -- it's most important to know the filepath for your stylesheet.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
  -- It took quite a bit of time to get the site how it needed to be, The hardest part was probably the list and making them even and split from left to right. We eneded up usinig "float:left/right;" for them both. Then found that we had to "clear:both;" the item below so that it didn't sit ontop of the list.

What CSS did you use to modify the element style (like size, color, etc.)
  -- to change the text we used color, font-size and font-weight. To get the lists closer we eneded up having to change the width of the right side to something larger.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
  -- We added classes to your html. We had no preferance to ids or classes, but decided to keep things consitant. This helped with some of the smaller things and adding proper css to them.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
  --I found that they were pretty similar, I think that the original was a little more organized in some ways, keeping things in order and having better tags for other things.

*/
html{
  color: navy;
  background-color: white;
}

header{
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  }
h1 span{
  font-size:1.5em;
}
h1{
  margin: 10px;
}
h4{
  margin: -20px;
}

a{
  color: purple;
}

a:visited{
  color: red;
}

div {
  display: inline-block;
  width: 30em;
  margin-left: 100px;
  padding: 0em;

}

li{
  padding: 0px 0px 25px 0px;
}

li span {
  font-size: .5em;
  list-style: none;
  display: block;
}

.right{
  float: right;
  width: 700px;
}

.left{
  float: left;
}

img{
  display:block;
  align: center;
  margin: auto;
}

.quote{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: .75em;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comments{
  font-size: .75em;
}

footer{
  border-top: 1px solid black;
  text-align: left;
}
footer span{
  font-size: .75em;
}

.b{
  font-weight: bold;
}